<style type="text/css">
#T_560dd_ th {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: white;
  border: 1px solid black;
}
#T_560dd_ td {
  font-size: 15px;
  color: black;
  border: 1px solid black;
  background-color: white;
}
</style>
<table id="T_560dd_">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th class="col_heading level0 col0" >album_name</th>
      <th class="col_heading level0 col1" >artist_name</th>
      <th class="col_heading level0 col2" >album_release_date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_560dd_level0_row0" class="row_heading level0 row0" >0</th>
      <td id="T_560dd_row0_col0" class="data row0 col0" >Sounds Of Silence</td>
      <td id="T_560dd_row0_col1" class="data row0 col1" >Simon & Garfunkel</td>
      <td id="T_560dd_row0_col2" class="data row0 col2" >1966-01-17</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row1" class="row_heading level0 row1" >1</th>
      <td id="T_560dd_row1_col0" class="data row1 col0" >Parsley, Sage, Rosemary And Thyme</td>
      <td id="T_560dd_row1_col1" class="data row1 col1" >Simon & Garfunkel</td>
      <td id="T_560dd_row1_col2" class="data row1 col2" >1966-10-10</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row2" class="row_heading level0 row2" >2</th>
      <td id="T_560dd_row2_col0" class="data row2 col0" >The Graduate</td>
      <td id="T_560dd_row2_col1" class="data row2 col1" >Simon & Garfunkel</td>
      <td id="T_560dd_row2_col2" class="data row2 col2" >1968-01-21</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row3" class="row_heading level0 row3" >3</th>
      <td id="T_560dd_row3_col0" class="data row3 col0" >Bookends</td>
      <td id="T_560dd_row3_col1" class="data row3 col1" >Simon & Garfunkel</td>
      <td id="T_560dd_row3_col2" class="data row3 col2" >1968-04-03</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row4" class="row_heading level0 row4" >4</th>
      <td id="T_560dd_row4_col0" class="data row4 col0" >Abbey Road (Remastered)</td>
      <td id="T_560dd_row4_col1" class="data row4 col1" >The Beatles</td>
      <td id="T_560dd_row4_col2" class="data row4 col2" >1969-09-26</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row5" class="row_heading level0 row5" >5</th>
      <td id="T_560dd_row5_col0" class="data row5 col0" >Bridge Over Troubled Water</td>
      <td id="T_560dd_row5_col1" class="data row5 col1" >Simon & Garfunkel</td>
      <td id="T_560dd_row5_col2" class="data row5 col2" >1970-01-26</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row6" class="row_heading level0 row6" >6</th>
      <td id="T_560dd_row6_col0" class="data row6 col0" >Let It Be (Remastered)</td>
      <td id="T_560dd_row6_col1" class="data row6 col1" >The Beatles</td>
      <td id="T_560dd_row6_col2" class="data row6 col2" >1970-05-08</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row7" class="row_heading level0 row7" >7</th>
      <td id="T_560dd_row7_col0" class="data row7 col0" >In Through the out Door (Deluxe Edition)</td>
      <td id="T_560dd_row7_col1" class="data row7 col1" >Led Zeppelin</td>
      <td id="T_560dd_row7_col2" class="data row7 col2" >1979-08-15</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row8" class="row_heading level0 row8" >8</th>
      <td id="T_560dd_row8_col0" class="data row8 col0" >In Through the out Door (Remaster)</td>
      <td id="T_560dd_row8_col1" class="data row8 col1" >Led Zeppelin</td>
      <td id="T_560dd_row8_col2" class="data row8 col2" >1979-08-15</td>
    </tr>
    <tr>
      <th id="T_560dd_level0_row9" class="row_heading level0 row9" >9</th>
      <td id="T_560dd_row9_col0" class="data row9 col0" >The Concert in Central Park (Live)</td>
      <td id="T_560dd_row9_col1" class="data row9 col1" >Simon & Garfunkel</td>
      <td id="T_560dd_row9_col2" class="data row9 col2" >1982-02-16</td>
    </tr>
  </tbody>
</table>
