<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>album_name</th>
      <th>artist_name</th>
      <th>album_release_date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Sounds Of Silence</td>
      <td>Simon &amp; Garfunkel</td>
      <td>1966-01-17</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Parsley, Sage, Rosemary And Thyme</td>
      <td>Simon &amp; Garfunkel</td>
      <td>1966-10-10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>The Graduate</td>
      <td>Simon &amp; Garfunkel</td>
      <td>1968-01-21</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Bookends</td>
      <td>Simon &amp; Garfunkel</td>
      <td>1968-04-03</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Abbey Road (Remastered)</td>
      <td>The Beatles</td>
      <td>1969-09-26</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Bridge Over Troubled Water</td>
      <td>Simon &amp; Garfunkel</td>
      <td>1970-01-26</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Let It Be (Remastered)</td>
      <td>The Beatles</td>
      <td>1970-05-08</td>
    </tr>
    <tr>
      <th>7</th>
      <td>In Through the out Door (Deluxe Edition)</td>
      <td>Led Zeppelin</td>
      <td>1979-08-15</td>
    </tr>
    <tr>
      <th>8</th>
      <td>In Through the out Door (Remaster)</td>
      <td>Led Zeppelin</td>
      <td>1979-08-15</td>
    </tr>
    <tr>
      <th>9</th>
      <td>The Concert in Central Park (Live)</td>
      <td>Simon &amp; Garfunkel</td>
      <td>1982-02-16</td>
    </tr>
  </tbody>
</table>